pandas
progressbar2
python-utils
#tensorflow == 1.12.0
numpy
matplotlib
scipy
sox
paramiko >= 2.1
python_speech_features
pyxdg
bs4
six
requests
tables
attrdict
setuptools
librosa==0.7.0
soundfile
numba==0.45.1
llvmlite==0.29.0
